@media (min-width:375px ) and (max-width: 667px){
	img.logo{
		margin-left:30px;
		}
	.aks{
		margin-left: 30px;
	}
}
@media (min-width:620px ) and (max-width: 825px){
	h1{
		font-size: 25px;
	}
}
@media (min-width:420px ) and (max-width: 620px){
	h1{
		font-size: 20px;
	}
	.button_to{
		height: 60px;
		padding-top: 15px;

	}
}
@media (min-width:375px ) and (max-width: 680px){
	h1{
		font-size: 30px;
	}
	div.window{
		width: 100%;
	}
@media (min-width:250px) and (max-width: 700px) {
	.relations{
		margin-top:10px;
}